name: Backend CI/CD Pipeline

on:
  workflow_dispatch:
  push:
    branches:
      - main
    paths:
      - 'backend/**'

  pull_request:
    branches:
      - main
    paths:
      - 'backend/**'
env:
  TF_VAR_prefix: "devops3"
  TF_VAR_location: "Poland Central"
  DB_HOST: "devops3-shouq.database.windows.net" 
  DB_NAME: "devops3-sql-db"
  DB_PORT: "1433"
  DB_DRIVER: "com.microsoft.sqlserver.jdbc.SQLServerDriver"
  NAMESPACE: "user-management" 
permissions:
      id-token: write
      contents: read

jobs:

  build-and-push:
    runs-on: ubuntu-latest

    defaults:
      run:
        working-directory: backend

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up Java 21
        uses: actions/setup-java@v4
        with:
          java-version: '21'
          distribution: 'temurin'
          cache: maven
      - name: Build and test with Maven
        run: mvn clean package
      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Build and push
        uses: docker/build-push-action@v6
        with:
          context: ./backend
          file: ./backend/Dockerfile
          push: true
          tags: |
            ${{ secrets.DOCKERHUB_USERNAME }}/backend:${{ github.sha }}
            ${{ secrets.DOCKERHUB_USERNAME }}/backend:latest
  deploy:
    runs-on: ubuntu-latest
    needs: build-and-push
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Log in to Azure
        uses: azure/login@v2
        with:
          client-id: ${{ secrets.AZURE_CLIENT_ID }}
          tenant-id: ${{ secrets.AZURE_TENANT_ID }}
          subscription-id: ${{ secrets.AZURE_SUBSCRIPTION_ID }} 

      - name: Get DB secrets from Azure Key Vault
        uses: azure/keyvault-secrets@v1
        with:
          keyvault: "shouq-kv"  
          secrets: "sql-admin-password,sql-admin-username"     

      - name: Set AKS context
        uses: azure/aks-set-context@v3
        with:
          resource-group: ${{ env.TF_VAR_prefix }}-rg
          cluster-name:   ${{ env.TF_VAR_prefix }}-aks
      - name: Prepare namespace, config, and secrets
        run: |

          # Create/update configmap
          kubectl create configmap backend-config \
            --from-literal=DB_DRIVER='${{ env.DB_DRIVER }}' \
            --from-literal=DB_HOST='${{ env.DB_HOST }}' \
            --from-literal=DB_NAME='${{ env.DB_NAME }}' \
            --from-literal=DB_PORT='${{ env.DB_PORT }}' \
            -n ${{ env.NAMESPACE }} \
            --dry-run=client -o yaml | kubectl apply -f -

          # Create/update secret from Key Vault values
          kubectl create secret generic backend-secret \
            --from-literal=DB_USERNAME="${.sql-admin-username }" \
            --from-literal=DB_PASSWORD="${sql-admin-password}" \
            -n ${{ env.NAMESPACE }} \
            --dry-run=client -o yaml | kubectl apply -f -
            
      - name: Deploy to AKS
        uses: Azure/k8s-deploy@v5
        with:
          manifests: |
            k8s/backend/namespace.yml
            k8s/backend/backend-deploy.yml
            k8s/backend/backend-svc.yml
            k8s/backend/backend-ingress.yml
            k8s/backend/hpa.yml
          images: docker.io/${{ secrets.DOCKERHUB_USERNAME }}/backend:${{ github.sha }}
          namespace: user-management
        