name: Deploy Cluster Addons & Applications

on:
    push:
        branches: [main]
        paths:
            - "k8s/**"
    pull_request:
        branches: [main]
        paths:
            - "k8s/**"
    workflow_dispatch:

env:
    TF_VAR_prefix: "devops3"

permissions:
    contents: read
    id-token: write

jobs:
    deploy:
        runs-on: ubuntu-latest

        defaults:
            run:
                working-directory: k8s
        steps:
            - name: Checkout
              uses: actions/checkout@v4

            - name: Azure Login
              uses: azure/login@v2
              with:
                  client-id: ${{ secrets.AZURE_CLIENT_ID }}
                  tenant-id: ${{ secrets.AZURE_TENANT_ID }}
                  subscription-id: ${{ secrets.AZURE_SUBSCRIPTION_ID }}

            - name: Set AKS Context
              uses: azure/aks-set-context@v3
              with:
                  resource-group: ${{ env.TF_VAR_prefix }}-rg
                  cluster-name: ${{ env.TF_VAR_prefix }}-aks

            # --- Cluster Addons ---
            - name: Deploy Ingress Controller
              run: |
                  helm repo add ingress-nginx https://kubernetes.github.io/ingress-nginx
                  helm upgrade --install ingress-nginx ingress-nginx/ingress-nginx \
                    --namespace ingress-nginx --create-namespace

            - name: Deploy Prometheus
              run: |
                  helm repo add prometheus-community https://prometheus-community.github.io/helm-charts
                  helm upgrade --install prometheus prometheus-community/prometheus \
                    --namespace monitoring --create-namespace

            - name: Deploy Grafana
              run: |
                  helm repo add grafana https://grafana.github.io/helm-charts
                  helm upgrade --install grafana-t3 grafana/grafana \
                    --namespace monitoring --create-namespace \
                    -f grafanaValue.yaml

            # --- Backend ---
            - name: Apply Backend Manifests
              run: |
                  kubectl apply -f backend/namespace.yml
                  kubectl apply -f backend/backend-deploy.yml
                  kubectl apply -f backend/backend-svc.yml
                  kubectl apply -f backend/backend-ingress.yml
                  kubectl apply -f backend/hpa.yml
            # --- Frontend ---
            - name: Apply Frontend Manifests
              run: |
                  kubectl apply -f frontend/namespace.yaml
                  kubectl apply -f frontend/configmap.yaml
                  kubectl apply -f frontend/deployment.yaml
                  kubectl apply -f frontend/service.yaml
                  kubectl apply -f frontend/ingress.yaml
                  kubectl apply -f frontend/hpa.yaml
                  kubectl apply -f frontend/pdb.yaml
            - name: Get public IPs
              id: get-ips
              run: |
                # Grafana LoadBalancer IP
                GRAFANA_IP=$(kubectl get svc grafana-t3 -n monitoring -o jsonpath='{.status.loadBalancer.ingress[0].ip}')
                echo "GRAFANA_URL=http://$GRAFANA_IP" >> $GITHUB_ENV
                        
                # NGINX Ingress Controller IP
                INGRESS_IP=$(kubectl get svc ingress-nginx-controller -n ingress-nginx -o jsonpath='{.status.loadBalancer.ingress[0].ip}')
                echo "INGRESS_URL=http://$INGRESS_IP" >> $GITHUB_ENV
                        
            - name: Show public URLs
              run: |
                echo "Grafana Dashboard: $GRAFANA_URL"
                echo "Cluster Ingress: $INGRESS_URL"